
<form class="" action="/events/<%= event._id %>/comments" method="post">
  <h2>Add Comment to <%= event.title %></h2>
  <label for="date">Comment:</label>
  <input type="text" name="comment[text]" value="">
  <br>
  <input type="submit" value="submit">
</form>

