<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page </title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <!-- Responsive Meta Tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style/style.css">
  <!-- main stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <!-- responsive stylesheet -->
  <link rel="stylesheet" href="css/responsive.css">

      <link href="Style\dist\css\bootstrap.min.css" rel="stylesheet">

<link href="Style\dist\css\bootstrap.css" rel="stylesheet">

<link href="css\simple-sidebar.css" rel="stylesheet">

<link href="Style\dist\css\bootstrap.theme.min.css" rel="stylesheet">

<link rel="stylesheet" href="Style\dist\font.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
 .btn 
 {
  margin: 5px;
  width: 300px;
 }
</style>
</head>
<body>
<center>
<h2>Become a Donor</h2>
<form class="form" action="/events" method="post">
  <label for="title">Name</label>
  <input type="text" name="title" value="" required>
  <br>
  <label for="date">Blood Group</label>
  <input type="text" name="date" value="" required>
  <br>
  <label for="organiser">City</label>
  <input type="text" name="organiser" value="" required>
  <br>
  <label for="location">Country</label>
  <input type="text" name="location" value="" required>
  <br>
  <label for="description">Why you donate blood to us:</label>
  <input type="text" name="description" value="" required>
  <br>
  <label for="ticket_price">Phone:</label>
  <input type="text" name="ticket_price" value="" required>
  <br>
  <input type="submit" value="submit" class="btn btn-primary">
</form>

</center>
<body>
</html>